@font-face {
    font-family: 'Raleway';
    src: url('../shared/fonts/Raleway-Bold.otf') format('otf'),
    url('../shared/fonts/Raleway-ExtraBold.otf') format('otf');
}

.x-padding {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.y-padding {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

body {
    font-weight: bold;
    font-family: Raleway, sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    min-width: 20rem;
    max-width: 20rem;
    width: 100%;
}

.option {
    background-color: #F5F5F5;
    border-radius: 0.5rem;
    padding: 1rem;
    display: inline-block;
    width: calc(100% - 2rem);
    margin-bottom: 0.5rem;
}


.title {
    font-size: 1.5rem;
    font-weight: bolder;
    padding-bottom: 0.25rem;
}

label {
    font-size: 0.9rem;
    color: #35383E;
}


.subtitle {
    font-size: 1rem;
    color: #9A9C9F;
    margin-bottom: 1rem;
}

.pointer {
    cursor: pointer;
}

.text {
    font-size: 0.8rem;
    color: #9A9C9F;
}


.d-flex {
    display: flex;
    align-items: center;
}

.mt-1 {
    margin-top: 1rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-05 {
    margin-left: 0.5rem;
}

.pr-0 {
    margin-left: auto;
}


button {
    background-color: #35383E;
    color: #F5F5F5;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bolder;
}

input[type="checkbox"] {
    cursor: pointer;
}

input[type='checkbox']:checked + label {
    background-color: #FF0;
    font-weight: bolder;
}


.fade-in {
    animation-name: fade-in;
    animation-duration: 0.3s;
}

.opacity-0 {
    opacity: 0;
}

.fade-out {
    animation-name: fade-out;
    animation-duration: 0.3s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
