<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Яндекс Твик</title>
    <link rel="stylesheet" type="text/css" href="./style.css"/>

</head>
<body>

<div class="container x-padding y-padding">
    <div class="title">Yandex Tweak</div>
    <div class="subtitle">Настройки</div>

    <div class="option">
        <label class="checkbox">
            <span class="checkmark"></span>
            <input type="checkbox" id="y-one-tab"/>
            Одна вкладка поиска
        </label>
    </div>
    <div class="option">
        <label class="checkbox">
            <span class="checkmark"></span>
            <input type="checkbox" id="y-mail-adblock"/>
            Убирать рекламу в почте
        </label>
    </div>

    <button id="save">Сохранить</button>
</div>


<script src="../scripts/settings.js"></script>
</body>

</html>